.img_container{
    margin: auto;
    width: 50%;
    position: relative;
}

.img_container .img_carousel{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.img_container button{
    position: absolute;
    height: fit-content;
    transform: translateX(-50%);
    color: black;
    width: 20px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.493);
    font-weight: bold;
}

.img_container button#button_up{
    top: 0;
    left: 50%;
}

.img_container button#button_down{
    bottom: 0;
    left: 50%;
}

.hidden{
    position: absolute;
    top: 0;
    opacity: 0;
}